@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-bg: hsl(240 10% 3.9%);
		--color-fg: hsl(0 0% 98%);
		background-color: var(--color-bg);
		color: var(--color-fg);
	}

	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: hsl(240 3.7% 15.9%);
		border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	body {
		background-color: var(--color-bg);
		color: var(--color-fg);
	}
}