@import "tailwindcss";

@source "!./daisyui.mjs";
@source "!./daisyui-theme.mjs";

@plugin "./daisyui.mjs" {
	themes:
		halloween --default --prefersdark,
		light;
}

@plugin "./daisyui-theme.mjs" {
	name: "halloween";
	default: true;
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(21% 0.006 56.043);
	--color-base-200: oklch(14% 0.004 49.25);
	--color-base-300: oklch(0% 0 0);
	--color-base-content: oklch(84.955% 0 0);
	--color-primary: oklch(54% 0.245 262.881);
	--color-primary-content: oklch(97% 0.014 254.604);
	--color-secondary: oklch(66% 0.179 58.318);
	--color-secondary-content: oklch(89.196% 0.049 305.03);
	--color-accent: oklch(27% 0.006 286.033);
	--color-accent-content: oklch(97% 0.014 254.604);
	--color-neutral: oklch(37% 0.013 285.805);
	--color-neutral-content: oklch(84.874% 0.009 65.681);
	--color-info: oklch(55% 0.016 285.938);
	--color-info-content: oklch(90.923% 0.043 262.88);
	--color-success: oklch(62.705% 0.169 149.213);
	--color-success-content: oklch(12.541% 0.033 149.213);
	--color-warning: oklch(66.584% 0.157 58.318);
	--color-warning-content: oklch(13.316% 0.031 58.318);
	--color-error: oklch(65.72% 0.199 27.33);
	--color-error-content: oklch(13.144% 0.039 27.33);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}

@layer base {
	@font-face {
		font-family: "Geist";
		src: url("/static/fonts/Geist[wght].woff2") format("woff2-variations");
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	:root {
		color-scheme: dark;

		--color-bg: hsl(240 10% 3.9%);
		--color-fg: hsl(0 0% 98%);
		--color-accent: hsl(240 3.7% 15.9%);
		background-color: var(--color-bg);
		color: var(--color-fg);
	}

	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: hsl(240 3.7% 15.9%);
		border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	body {
		background-color: var(--color-bg);
		color: var(--color-fg);
		@apply font-sans antialiased;
	}
}
