@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Geist";
		src: url("/static/fonts/Geist[wght].woff2") format("woff2-variations");
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	:root {
		color-scheme: dark;

		--color-bg: hsl(240 10% 3.9%);
		--color-fg: hsl(0 0% 98%);
		--color-accent: hsl(240 3.7% 15.9%);
		background-color: var(--color-bg);
		color: var(--color-fg);
	}

	::-webkit-scrollbar {
		width: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: hsl(240 3.7% 15.9%);
		border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	body {
		background-color: var(--color-bg);
		color: var(--color-fg);
		@apply font-sans antialiased;
	}

	/* disables tailyew default focus ring around buttons */
	button:focus,
	button:focus-visible,
	.btn:focus,
	.btn:focus-visible {
		outline: none !important;
		box-shadow: none !important;
	}
}
